*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    }
    .secs{
        display: flex;
        background-color: rgb(148, 185, 185);
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        font-size: 2rem;
    
    }
    
    .nav-linkss {
        display: flex;
        margin: 3rem;
    
    }
    
    
    
    .linkss {
        display: flex;
        text-decoration: none;
        gap: 3.5rem;
        list-style: none;
    
    }
    
    .nav-br {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        font-size: 3.5rem;
        margin-right: 1.5rem;
    }
    
    .btn button {
        width: 11rem;
        height: 3rem;
        text-align: center;
        background-color: rgb(49, 49, 58);
        color: white;
    
    }
    
    .hero-section {
        display: flex;
        font-size: 2rem;
        padding: 2rem;
        padding-top: 4rem;
        color: rgb(18, 55, 90);
    
    }
    
    .heading {
        padding-top: 7rem;
    
    }
    
    h1 {
        color: rgb(66, 66, 119);
    }
    
    .btns {
        padding-top: 2rem;
        font-size: 2rem;
    }
    
    .btns2 {
        width: 11rem;
        height: 3rem;
        background-color: rgb(27, 27, 41);
        color: white;
    }
    
    .btns3 {
        width: 10rem;
        height: 2rem;
        border: 2px solid rgb(23, 23, 37);
        background-color: white;
        color: rgb(48, 29, 29);
    
    }
    
    .hero-section {
        background-image: url(ASSEST/Path.png);
        background-repeat: no-repeat;
        background-size: 100rem;
        justify-content: right;
    
    
    
    }
    
    .hero-section-2 {
        display: flex;
        padding: 3rem;
        padding-top: 4.5rem;
    }
    
    .heading-2,
    h3 {
        display: flex;
        flex-direction: column;
        height: 5.8rem;
        font-size: 3rem;
        color: rgb(56, 51, 51);
        gap: 2rem;
    }
    
    .icon {
        width: 3rem;
        height: 2rem;
    }
    
    .icon-1 {
        display: flex;
        margin-top: 1.8rem;
        font-size: 1.5rem;
        gap: 2rem;
    
    }
    
    .hero-section-3 {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        width: 100%;
    }
    
    .heading-3 {
        display: flex;
        gap: 5rem;
        margin: 3rem;
        align-items: center;
    }
    
    .divs {
        margin-left: 12rem;
        width: 30rem;
    }
    
    .heading3 img {
        width: 35rem;
    }
 
    .last-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30rem;
        text-align: center;
        background-color: rgb(145, 145, 156);
    
    }
    
    .paras {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    
    }
    
    h3,h4 {
        font-size: 2rem;
       }
    
    .last-btn button{
        background-color: rgb(50, 50, 160);
        color: white;
        width: 9.5rem;
        height: 2.5rem;
        
    }
    .last-btn p {
       padding: 1.8rem;
    }