@media screen and (max-width:1400px){
    .nav-linkss{
    display: flex;
    flex-direction: column;
    }
    
    .btn{
        display: none;
    }
    .hero-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.9rem;
        flex-direction: column;
    }
    .hero-section-2{
        display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .heading-2{
        display: flex;
        justify-content: center;
        align-items: center;  
        margin-top: 9.5rem;

    }
    .icon{
     display: flex;
    justify-content: center;
    height: 100%;
    
    }
    .hero-section-3,.heading-3{
    display: flex;
    flex-direction: column;
    margin: 0%;   
    }
    .last-section.paras{
        display: flex;
        flex-direction: column;
      
        
    }
}